<div class="container">
  <div class="text-center">
    <h1>Repertoire des métiers de la ville de Paris et du département</h1>
  </div>
  <div class="mt-5">
    <h3>Nombre de métiers référencés: <%= @employments.count %> </h3>
    <div>
      <%= link_to 'enrichir', enrich_all_employments_path, method: :patch  %>
    </div>
    <h3>Ajouter un archive csv</h3>
    <%= form_tag import_employments_path, multipart: true do %>
    <%= file_field_tag 'file' %>
    <%= submit_tag "Import CSV" %>
    <% end %>
    <div>
      <%= link_to "supprimer", destroy_all_employments_path, method: :delete  %>
    </div>
  </div>
  <div class="mt-5" id="tableau">
    <table>
      <%= render partial: 'shared/table_header' %>
      <tbody>
        <% @employments.each do |employment| %>
          <%= render partial: 'shared/table_body', object: employment, as: 'item' %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
