<div class="container" id="main-container">
  <div id="header">
    <div class="d-flex justify-content-between">
      <div class="d-flex text-left align-items-center pl-4">
        <h4>Nombre de métiers référencés: <%= Employment.all.count %></h4>
      </div>
      <div class="d-flex align-items-center">
        <div class="mr-3 pt-1">
          <%= form_for :file, url: "employments/import", html: {id: "csv-uploader"}, multipart: true do |f| %>
          <div class="file-upload" >
            <label for="file-input"><i class="fas fa-file-import"></i></label>
            <%= f.file_field :csv, id:"file-input" %>
          </div>
          <% end %>
        </div>
        <div class="m-2">
          <%= link_to 'Enrichir la liste', enrich_all_employments_path, class: "btn btn-sm btn-outline-success", method: :patch  %>
        </div>
        <div class="m-2">
          <%= link_to "Vider la liste", destroy_all_employments_path, class: "btn btn-sm btn-outline-danger", data: { confirm: "Cette action va supprimer l'intégralité des données" }, method: :delete  %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" id="tableau">
    <table>
      <%= render partial: 'shared/table_header' %>
      <tbody>
        <% @employments.each do |employment| %>
        <%= render partial: 'shared/table_body', object: employment, as: 'item' %>
        <% end %>
      </tbody>
    </table>
  </div>
    <div class="d-flex justify-content-center align-items-center text-center pb-2" id="pagination">
      <%= paginate @employments %>
    </div>
  </div>
</div>
