<div class="container">
  <div class="text-center">
    <h1>id: <%= @employment.id %> - <%= @employment.position %></h1>
  </div>
  <div class="mt-5" id="tableau">
    <table>
      <%= render partial: 'shared/table_header' %>
      <tbody>
        <%= render partial: 'shared/table_body', object: @employment, as: 'item' %>
      </tbody>
    </table>
  </div>
    <div class="my-5">
      <h3>Vérification manuelle</h3>
      <%= link_to @query, "#{@query}", target: :_blank  %>
    </div>
    <div class="d-flex justify-content-center align-items-center text-center">
      <%= link_to 'retour', root_path, class: "btn btn-outline-success m-4 p-2" %>
    </div>
</div>


